@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{text-decoration: none;}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1440px + 1rem * 2);
    padding: 0 32px;
}
img{
    max-width: 100%;
    height: auto;
}


/* header */
.logo img {
    max-width: 130px;
}

header {
    border-bottom: 1px solid #ccc;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_button {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.signUp_btn,
.login_btn {
    font-size: 16px;
    font-weight: 700;
    background: #000000;
    color: #fff;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}


.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}


/* user page */
.dashboard {
    margin: 50px auto;
}
.dashboard_heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.dashboard_heading a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}
.dashboard_heading h2 {
    font-weight: 400;
    text-transform: capitalize;
}

/* accordion section */
.accordion-single {
    border-bottom: 1px solid #efefef;
    margin-top: 10px;
}

.accordion-single-title {
    border-top: 1px solid #efefef;
    padding: 20px 0;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}

.accordion-single-title::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;
    transform: translateY(-50%) rotate(135deg);
}

.accordion-single-content {
    display: none;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.accordion-single-content p {
    padding: 20px;
}

.accordion-single-item.is-open .accordion-single-content {
    display: block;
    background-color: #fafafa;
    padding: 50px;
}

.accordion-single-item.is-open .accordion-single-title::after {
    transform: translateY(-50%) rotate(315deg);
}

.downloadable_img {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 300px;
    height: 200px;
}
.download_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.download_icon img {
    width: 35px;
}

/* templates section */
.templates {
    width: 70%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.templates_collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}
.template_item{
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.template_item_content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}
.template_item_hover_text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    cursor: default;
    transition: opacity 0.2s linear;
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
}
.template_item:first-child .template_item_hover_text{
    background: rgb(0, 8, 235);
}
.template_item_hover_text:hover{
    opacity: 1;
    cursor: pointer;
}
.template_item_hover_text:hover p {
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}
.template_item:hover {
    border: 1px solid #ccc;
    box-shadow: 0 0 6px #ccc;
}

.template_item.last_template_item {
    box-shadow: none;
    border: none;
    background: #eee;
}
.template_item.last_template_item:hover {
    box-shadow: none;
    border: none;
}

.template_item h3,
p {
    text-transform: capitalize;
    color: #333;
}
.template_item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.commingSoon_template{
    color: #ccc;
    font-weight: 400;
}

/* hero-banner */
.hero-banner {
    background: linear-gradient(-90deg, transparent, black) fixed, url('../images/hero-banner.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
}
.hero-banner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    gap: 15px;
}
.hero-banner-content h1 {
    font-size: 50px;
    color: #fff;
}
.hero-banner-content p {
    color: #fff;
}
.hero-banner-btn {
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    font-weight: 700;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
    .wrapper {
        max-width: 90%;
        padding: 0;
    }
}
@media screen and (max-width: 992px) {
    .templates{width: 90%;}
}
@media screen and (max-width: 768px) {
    .templates_collections {
        grid-template-columns: repeat(2, 1fr);
    }
    .template_item{min-height: 200px;}
}
@media screen and (max-width: 576px) {
.modal-content{min-width: initial;}
.hero-banner-content h1 {
    font-size: 30px;
}
}
@media screen and (max-width: 400px) {
    .header_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .templates_collections {
        grid-template-columns: 1fr;
    }
    .accordion-single-item.is-open .accordion-single-content {
        padding: 20px;
    }
}